# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

.env
./env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
# logs/
# *.log

# System files
.DS_Store
Thumbs.db

# Build and cache files
.cache/
*.bak

Frontend/dist/

Frontend/dist/index.html
Frontend/dist/assets
Frontend/dist/*
# Environment and secrets
 
#.env.local


# Database files
# db/*.sqlite
# db/*.db
# db/*.sql

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Node.js dependencies
node_modules/Frontend/dist/index.html
