.engagement-controls-container {
  font-family: sans-serif;
  background-color: #fff;
  border-top: none;
}

.engagement-flex-wrapper {
  display: flex;
  flex-direction: column;
}
.top-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
  padding-top: 0px;
  height: 28px;
  color: #65676b;
  border-top: none;

}

.count-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  white-space: nowrap;
  font-size: 1rem;
}

.count-column:hover span {
  text-decoration: underline;
}

.bottom-row {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #ccc;
  margin-left: 10px;
  margin-right: 10px;
}

.action-btn {
  flex: 1;
  background: none;
  border: none;
  color: #65676b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 0;
  transition: background-color 0.2s;
  border-radius: 4px;
}

.action-btn:hover {
  background-color: #f2f2f2;
}

.action-btn.react {
  color: #1877f2;
  font-weight: 600;
}

/* rename EngagementControls.css from engagementcontrols.css*/
/* Second TIme renaming */