/* home.css */

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .content {
    display: flex;
    padding-top: 80px; /* space for fixed header */
    justify-content: center;
    max-width: 750px;
    margin: 0 auto;
    background-color: #f8f8f8;
  }
  .content {
    margin-left: 240px;
    width: calc(100% - 240px);
    transition: margin-left 0.3s ease-in-out;
}
  
.sidebar {
    position: fixed;
    top: 30px; /* Adjust according to navbar height */
    width: 220px;
    height: 100px;
    background-color: #ffa500;
    height: 100vh;
    position: fixed;
    top: 50px;
    left: 0;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

  
  .sidebar-menu,
  .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li,
  .categories li {
    margin: 10px 0;
  }
  
  .sidebar-menu li a,
  .categories li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .sidebar-menu li.active a {
    color: #f55;
    font-weight: bold;
  }
  
  .categories h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #000000;
  }

  .sidebar-footer h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1em;
    color: #000000;
  }
  
  .divider {
    border: none;
    border-top: 1px solid #eee;
    margin: 20px 0;
  }
  
  .sidebar-footer {
    font-size: 0.9rem;
    color: #999;
 }
  
.post-container {
    margin-left: 240px;
    padding: 20px;
    width: 100%;
  }
  
  .video-feed h2 {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgb(255 47 47 / 15%);
    width: 100%;
    border: 2px solid #edd2d2;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 8px 16px;
    background-color: #FFA500;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
  }
  
    .button:hover {
        background-color: #ff8700;
        color: #fff;
    }
    
    .button.clicked:hover {
    background-color: #ff6767;
    color: #fff;
}
  
.dropdown {
    display: inline-block;
    position: relative;
}
  
  .dropdown-toggle {
    padding: 8px 12px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 36px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-radius: 6px;
  }
  
  .dropdown.active .dropdown-menu {
    display: block;
  }
  
  .dropdown-item {
    display: block;
    padding: 10px 16px;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 0.95rem;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
}
  