.create-post-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: black;
  overflow-y: auto;
}

.modal-content {
  background: #ffa500;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 90vh; /* Limits height to keep it within view */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 60vh;
  overflow-y: auto;
}

.error-msg {
  background-color: #ffe0e0;
  color: #a00;
  padding: 10px;
  margin-bottom: 1em;
  border-radius: 5px;
  font-weight: bold;
}

.form button[type="button"] {
  background-color: #ffffff;
  border: solid 1px #ccc;
  padding: 8px;
  cursor: pointer;
}

.form button[type="button"]:hover {
  background-color: #d5d5d5;
  transition: 0.3s ease-in-out;
}

input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="text"]:focus, 
textarea:focus, 
button:active {
  outline: none;
  border-color: #ccc;
}

.input-field {
  color: gray; /* Sets the text color to gray */
}

.input-field::placeholder {
  color: #aaa; /* Light gray placeholder */
}

.modal-title,
.modal-description {
  color: gray;
}


/* Ingredient & Step Lists */
.ingredients-list,
.steps-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.add-ingredient-btn,
.add-step-btn,
.toggle-optional-btn {
  background-color: #f0f2f5;
  border: 1px solid #000000;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-ingredient-btn:hover,
.add-step-btn:hover,
.toggle-optional-btn:hover {
  background-color: #e4e6eb;
}

/* Optional Fields */
.optional-fields {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 10px;
}

.publish-btn {
  padding: 12px;
  background-color: #0008ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.publish-btn:hover {
  background-color: #e68900;
  transform: scale(1.05);
}

.publish-btn:disabled {
  background-color: #f1a500;
  cursor: not-allowed;
}