.feed-post {
  flex: 0 0 auto;
  width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2.5px solid #FF8700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto; 
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-left {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  margin-left: 10px;
}

.author_username {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: start;
  margin: 0;
}

.time {
  font-size: 0.8rem !important;
  color: #8a96a3;
  display: flex;
  align-items: start;
}

.post-title {
  font-size: 1.5rem;
}

.post-caption {
  margin-top: 15px;
}

.caption {
  font-size: 1.1rem;
  color: #333;
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.media-container img,
.media-container video {
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  outline: 2px solid #FF8700;
}

.media-container img {
  width: 100%;
  max-width: 600px;
}

.media-container video {
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 3 / 2;
}