<link rel="stylesheet" href="./../styles/header.css">

<header class="header-navbar">
    <div class="header-logo-container">
        <img src="./../../assets/images/logo.png" alt="Cook It Logo" class="header-logo">
    </div>
    
    <div class="header-search-container">
        <input type="text" placeholder="Search for recipes..." class="header-search-bar">
    </div>

    <nav class="header-nav-links">
        <a href="#" class="header-button">Feeds</a>
        <a href="#" class="header-button">Reels & Videos</a>
        <a href="#" class="header-button">Notifications</a>
    </nav>
    
    <div class="header-profile-dropdown">
        <img src="./../../assets/images/profile-pic.png" alt="User Profile" class="header-profile-pic">
        <div class="header-dropdown-content">
            <a href="#">Show Profile</a>
            <a href="#">Help and Support</a>
            <a href="#">Incentives</a>
            <a href="./settings.html">Settings</a>
            <a href="#">Log Out</a>
        </div>
    </div>
</header>
