.feed-page-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 5px;
  }
  
  .feed-posts {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .feed-status-message {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 10px;
  }  
  
  @media (max-width: 768px) {
    .feed-page-container {
      padding: 10px;
    }
  
    .feed-posts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1 0px;
    }
    
  }
  